---
import BaseLayout from "../../layouts/BaseLayout.astro";
import getPostData from "../../utils/getPostData";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../data/blog-posts/*.md");
  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}blog/${slug}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <header class="mt-12">
    <p>{publishDate} ~ {readingTime}</p>
    <h1>{title}</h1>
  </header>
  <div class="flex w-full flex-col items-center justify-start">
    <article
      class="flex w-11/12 max-w-screen-md flex-auto flex-col items-center justify-start gap-4 overflow-x-auto"
    >
      <Content />
    </article>
  </div>
</BaseLayout>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-3xl font-bold dark:text-white;
  }
  li {
    @apply my-4 text-xl font-semibold dark:text-white;
  }

  article p {
    @apply my-12 text-base lg:text-lg dark:text-white;
  }

  header p {
    @apply mx-auto text-center font-semibold;
  }
  header h1 {
    @apply mx-auto text-center text-6xl;
  }

  pre {
    @apply w-full overflow-x-auto rounded-lg p-4;
  }
</style>
