---
import BaseLayout from "../../layouts/BaseLayout.astro";
import getPostData from "../../utils/getPostData";

export async function getStaticPaths() {
	const posts = await Astro.glob("../../data/blog-posts/*.md");
	return posts.map((p) => ({
		params: { slug: p.file.split("/").pop().split(".").shift() },
		props: { post: p },
	}));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}blog/${slug}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <header class="mt-24 mb-12">
    <p class="mx-auto text-center font-semibold dark:text-white">{publishDate} ~ {readingTime}</p>
    <h1 class="mx-auto text-center text-4xl md:text-6xl">{title}</h1>
  </header>
  <div class="flex w-full flex-col items-center justify-start">
    <article
      class="flex max-w-screen-md flex-auto flex-col items-center justify-start overflow-x-auto"
    >
      <Content />
      
      <div class="w-full" id="giscus"></div>
      <script >
        document.addEventListener('astro:page-load', () => {
        // Get the theme value from localStorage, defaulting to "preferred_color_scheme" if not set
        const themeLocal = localStorage.getItem('theme') || 'preferred_color_scheme';
      
        // Create a script element dynamically
        const script = document.createElement('script');
        script.src = "https://giscus.app/client.js";
        script.async = true;
      
        // Set the attributes for the script tag
        script.setAttribute('data-repo', 'illispi/homesite-comments');
        script.setAttribute('data-repo-id', 'R_kgDONRIjmA');
        script.setAttribute('data-category', 'Announcements');
        script.setAttribute('data-category-id', 'DIC_kwDONRIjmM4CkXms');
        script.setAttribute('data-mapping', 'pathname');
        script.setAttribute('data-strict', '0');
        script.setAttribute('data-reactions-enabled', '1');
        script.setAttribute('data-emit-metadata', '0');
        script.setAttribute('data-input-position', 'bottom');
        script.setAttribute('data-theme', themeLocal);  // Set the theme based on localStorage
        script.setAttribute('data-lang', 'en');
        script.setAttribute('crossorigin', 'anonymous');
      
        // Append the script to the document body
        const exists =  document.getElementById("giscus")
        if(exists){

          exists.appendChild(script)
        }})
      </script>


    </article>
  </div>
</BaseLayout>




<style is:global>

  
  html {
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-xl font-bold dark:text-white max-w-screen-md w-11/12;
  }

  h2 {
    @apply text-3xl dark:text-white font-semibold my-4
  }
  h4 {
    @apply text-xl dark:text-white my-4
  }


  article p {
    @apply mb-6 text-left w-11/12 text-base lg:text-lg dark:text-white;
  }
  pre {
    @apply w-11/12 overflow-x-auto rounded-lg p-4 max-w-sm md:max-w-2xl lg:max-w-full;
  }
  article img {
    @apply relative w-screen left-[calc(-50vw_+_50%)] max-w-screen-md lg:left-0 lg:w-full
  }

  article a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }


</style>
