---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import landscape from "../images/landscape.jpg";
import storiesIcon from "../images/storiesIcon.png";
import Picture from "astro/components/Picture.astro";

const title = "My Astro Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="relative flex items-center justify-center">
    <div class="absolute left-0 -z-10 hidden h-full w-1/2 bg-zinc-800 lg:flex">
    </div>
    <div class="absolute left-1/2 -z-10 hidden h-full w-1/2 bg-white lg:flex">
    </div>
    <div
      class="flex h-full w-full max-w-screen-xl flex-col items-center justify-center lg:w-11/12 lg:flex-row"
    >
      <div
        class="flex w-full flex-1 flex-col items-center justify-center bg-zinc-800 py-8 lg:bg-transparent lg:p-0"
      >
        <h1
          class="bg-transparent text-center text-6xl font-semibold text-amber-400 lg:text-9xl"
        >
          Hello!
        </h1>
      </div>
      <div
        class="relative hidden h-[500px] w-[300px] overflow-hidden bg-white lg:block"
      >
        <div
          class="relative -left-[300px] -top-40 h-[800px] w-[400px] rotate-[17deg] bg-zinc-800"
        >
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center bg-white py-8 shadow-[inset_0px_0px_126px_22px_rgba(251,191,36,1)] lg:h-[500px] lg:w-fit lg:py-0 lg:shadow-none"
      >
        <div
          class="w-11/12 max-w-fit flex-shrink items-center justify-center overflow-hidden rounded-full"
        >
          <Picture
            src={landscape}
            alt="Snowy landscape"
            formats={["avif", "webp"]}
            height={480}
            width={480}
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="hidden h-20 w-screen items-center justify-center lg:flex lg:bg-amber-500"
  >
  </div>
  <div class="flex w-full items-center justify-center bg-zinc-800">
    <h2
      class="block flex-1 py-16 text-center text-6xl font-semibold text-amber-400"
    >
      Projects:
    </h2>
  </div>
  <div class="my-24 flex w-full flex-col items-center justify-start">
    <div class="flex w-11/12 flex-col items-center justify-center">
      <a
        class="transition-all hover:scale-110"
        href="https://stories.delvis.org"
      >
        <Picture
          class="rounded-2xl"
          src={storiesIcon}
          alt="Stories icon"
          formats={["avif", "webp"]}
          widths={[240, 540, 720, storiesIcon.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${storiesIcon.width}px`}
        />
        <p class="p-4 text-xl dark:text-white">
          Website made with solidJS. Includes poll and shared articles.
        </p>
      </a>
    </div>
  </div>
</BaseLayout>
