---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import landscape from "../images/landscape.jpg";
import middle from "../images/middle.png";

const title = "My Astro Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="relative w-screen flex justify-center items-center">
    <div class="absolute left-0 bg-zinc-800 w-1/2 h-full -z-10"></div>
    <div class="absolute left-1/2 bg-white w-1/2 h-full -z-10"></div>
    <div
      class="flex items-center justify-around h-full flex-col lg:flex-row w-full max-w-screen-xl"
    >
      <!-- <div
      class="absolute bg-zinc-800 -top-[500px] -left-3/4 w-screen h-[1200px] rotate-[17deg] -z-20"
      >
    </div> -->
      <div class="flex justify-center items-center flex-col">
        <h1
          class="text-center text-9xl font-semibold text-amber-400 bg-zinc-800"
        >
          Hello!
        </h1>
      </div>
      <Image src={middle} alt="divider" height={600} />

      <div class="rounded-full overflow-hidden">
        <Image src={landscape} alt="Snowy landscape" height={500} width={500} />
      </div>
    </div>
  </div>
  <h2 class="flex-1 text-center text-amber-400 text-6xl font-semibold py-20">
    Projects:
  </h2>
</BaseLayout>
